<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
    Debug manifest overlay.
    Disables Firebase auto-initialization for debug builds since we use placeholder keys.
    -->
    <application>
        <!-- Disable Firebase Crashlytics auto-init -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        
        <!-- Disable Firebase Analytics auto-init -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        
        <!-- Disable Firebase auto-initialization provider -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
    </application>

</manifest>
